version: "3.9"

services:
  web:
    build: .
    container_name: thegang-web
    ports:
      - "5000:5000"
    env_file:
      - .env
    volumes:
      - .:/app
    depends_on:
      - redis

  redis:
    image: redis:7
    container_name: thegang-redis
    ports:
      - "6379:6379"
